<section class="feautures">
    <div class="container">
        <h3>our features</h3>
        <div>
            <h3>Visual Composer</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Responsive</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Retina Ready</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Typography</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>VTheme Options Pannel</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Dummy Content</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Many Style Available</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Header Style</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>10000+ icons</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Support</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>Update</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
        <div>
            <h3>SEO Ready</h3>
            <p>TheFox comes with the Visual Composer Plugin. You won’t need to code or to remember any shortcodes with our.
            </p>
        </div>
    </div>
</section>