<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <nav class="footer-inner__menu">
                <ul class="footer-inner__list">
                    <h3 class="menu__h3">PORTFOLIO</h3>
                    <li><a class="menu__link" href="#">Web Design</a></li>
                    <li><a class="menu__link" href="#">Branding & Idefinity</a></li>
                    <li><a class="menu__link" href="#">Mobile Design</a></li>
                    <li><a class="menu__link" href="#">Print</a></li>
                    <li><a class="menu__link" href="#">User Interfase</a></li>
                </ul>
                <ul class="footer-inner__list">
                    <h3 class="menu__h3">ABOUT</h3>
                    <li><a class="menu__link" href="#">The Company</a></li>
                    <li><a class="menu__link" href="#">History</a></li>
                    <li><a class="menu__link" href="#">Vision</a></li>
                </ul>
                <ul class="footer-inner__list">
                    <h3 class="menu__h3">GALLERY</h3>
                    <li><a class="menu__link" href="#">Flickr</a></li>
                    <li><a class="menu__link" href="#">Picasa</a></li>
                    <li><a class="menu__link" href="#">iStickPhoto</a></li>
                    <li><a class="menu__link" href="#">PhotoDune</a></li>

                </ul>
                <ul class="footer-inner__list">
                    <h3 class="menu__h3">CONTACT</h3>
                    <li><a class="menu__link" href="#">Basic Info</a></li>
                    <li><a class="menu__link" href="#">Map</a></li>
                    <li><a class="menu__link" href="#">Contact Form</a></li>
                </ul>
            </nav>

            <div class="footer-inner__social">
                <div class="social">
                    <div class="social__block">
                        <a href="#">
                            <!-- <img class="social__icon" src="img/svg/icons/fb.svg"> -->
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </div>
                    <div class="social__block">
                        <a href="#">
                            <!-- <img class="social__icon" src="img/svg/icons/tw.svg"> -->
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                    <div class="social__block">
                        <a href="#">
                            <!-- <img class="social__icon" src="img/svg/icons/g-plus.svg"> -->
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </div>
                    <div class="social__block">
                        <a href="#">
                            <!-- <img class="social__icon" src="img/svg/icons/lin.svg"> -->
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <p>Copiyright © 2015 Syed Miraj.All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>