<header class="header header--bgColor">
    <div class="header__container">
        <img class="logo">
        <nav>
            <ul>
                <li><a href="#">home</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">about</a></li>
                <li><a href="#">portfolio</a></li>
                <li><a href="#">academic</a></li>
                <li><a href="#">blog</a></li>
                <li><a href="#">contact us</a><br/>
                    <a href='tel:#'>(+966-322 322)</a></li>
            </ul>
        </nav>
    </div>
</header>