<header class="header header--bgColor">
    <div class="container header__container">
        <a href="#" class="logo nav__link">
            <span class="logo__element logo__element--bordered logo__element--light">UNIQUE</span>
            <span class="logo__element">TECH</span>
        </a>
        <button class="nav__burger" aria-label="open or close navigation panel">
            <i class="nav__burger--open fas fa-bars"></i>
            <i class="nav__burger--close hide fas fa-times"></i>
        </button>

        <nav class="nav">
            <ul class="nav__block">
                <li class="nav__element"><a class="nav__link" href="#">home</a></li>
                <li class="nav__element"><a class="nav__link" href="#">services</a></li>
                <li class="nav__element"><a class="nav__link" href="#">about</a></li>
                <li class="nav__element"><a class="nav__link" href="#">portfolio</a></li>
                <li class="nav__element"><a class="nav__link" href="#">academic</a></li>
                <li class="nav__element"><a class="nav__link" href="#">blog</a></li>
                <li class="nav__element"><a class="nav__link" href="#">contact us</a><br/>
                    <a class="nav__link nav__link--centered" href='tel:#+966322322'>(+966-322 322)</a></li>
            </ul>
        </nav>
    </div>

    <script>

        $(window).scroll(function () {
            if ($(this).scrollTop() > 30) {
                $('.header').addClass("header--minimized");
            }
            else {
                $('.header').removeClass("header--minimized");
            }
        });

    </script>

    <script>
        function onOff() {
            document.querySelector('.nav__burger--open').classList.toggle('hide');
            document.querySelector('.nav').classList.toggle('show');
            document.querySelector('.nav__burger--close').classList.toggle('hide');
            // document.querySelector('.close').focus();

        }

        // function hide() {
        //     document.querySelector('.nav').classList.remove('show');
        //     // document.querySelector('#click_me').focus();
        // }

        window.onload = function () {
            document.querySelector('.nav__burger').addEventListener('click', onOff);
            // document.querySelector('.nav__link').addEventListener('click', hide);
        }
    </script>
</header>