<header class="header header--bgColor">
    <div class="container header__container">
        <a href="#" class="logo nav__link">
            <div class="logo__element logo__element--bordered logo__element--light">UNIQUE</div>
            <div class="logo__element">TECH</div>
        </a>
        <button class="nav__burger" aria-label="open or close navigation panel">
            <i class="nav__burger--open fas fa-bars"></i>
            <i class="nav__burger--close hide fas fa-times"></i>
        </button>

        <nav class="nav">
            <ul class="nav__block">
                <li class="nav__element"><a class="nav__link nav__link--decorated" href="#">home</a></li>
                <li class="nav__element"><a class="nav__link nav__link--decorated" href="#">services</a></li>
                <li class="nav__element"><a class="nav__link nav__link--decorated" href="#">about</a></li>
                <li class="nav__element"><a class="nav__link nav__link--decorated" href="#">portfolio</a></li>
                <li class="nav__element"><a class="nav__link nav__link--decorated" href="#">academic</a></li>
                <li class="nav__element"><a class="nav__link nav__link--decorated" href="#">blog</a></li>
                <li class="nav__element"><a class="nav__link nav__link--decorated" href="#">contact us</a><br />
                    <a class="nav__link nav__link--centered" href='tel:#'>(+966-322 322)</a></li>
            </ul>
        </nav>
    </div>
</header>