<section class="hire_us">
    <div class="container" data-aos="fade-up">
        <div class="hire">
            <div class="hire__wrap">

                <img class="hire__img b-lazy" src="./img/png/hire_clean_small.jpg" data-src="./img/png/hire_clean.png" alt="hand work">
                <div class="hire__img--overlay"></div>
            </div>
            <div class="hire__content">
                <h3 class="hire__h3">NEED CREATIVE WORKERS?</h3>
                <button class="hire__button button" id="one" type="button"><b>HIRE US</b></button>
            </div>
        </div>
    </div>
</section>