<section class="history">
    <div class="container history__container" data-aos="fade-up">
        <div class="history__left">
            <div class="history__image">
                <img class="history__image--background" src="img/png/happy_clerk.gif" alt="happy clerk">
                <img class="history__image--hover" src="img/svg/happy_clerk_lamp.svg" alt="lamp">
            </div>
        </div>

        <div class="history__right">
            <h2 class="history__title--no-space section-name section-name--mw220">OUR HISTORY</h2>
            <p class="history__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae lacus justo. Ut ullamcorper
                fermentum ex. Nullam mollis diam id orci volutpat malesuada. Duis quis interdum justo, ac ultricies
                justo. Sed luctus aliquet egestas. Fusce in mi ut ante pulvinar elementum vel ut nibh. In hac habitasse
                platea dictumst. Vestibulum hendrerit neque nec ex mollis tristique. Sed faucibus augue dui, non
                porttitor purus sodales nec.

                Duis a purus odio. Curabitur commodo iaculis egestas. Suspendisse viverra tellus at placerat
                condimentum. Nam ac malesuada metus. Nam at accumsan nulla, vestibulum elementum ipsum. Suspendisse
                blandit sed libero ac efficitur. Proin interdum rhoncus elit, vel placerat dui accumsan at.
                Pellentesque
                lacus augue, volutpat quis porttitor a, placerat in lacus.
            </p>

            <button type="button" class="history__button yellow-btn">browse our story</button>
        </div>

    </div>
</section>