<section class="modal modal__container">
    <div class="modal__dialog">
        <svg class="modal__svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon class="modal__polygon" points=""/>
        </svg>

        <div class="modal__content">
            <h2>I'm a modal</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi ut inventore consectetur quos
                rerum quibusdam accusamus, labore itaque assumenda consequatur cum saepe velit quidem ipsa facilis.
                Repellendus, reiciendis quam?</p>
        </div>

    </div>
</section>