<section class="modal-1 modal-container">

    <div class="modal-dialog">
        <svg class="modal-svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon class="modal-polygon" />
        </svg>

        <div class="modal-content">
            <h2>I'm a modal</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi ut inventore consectetur quos rerum quibusdam accusamus, labore itaque assumenda consequatur cum saepe velit quidem ipsa facilis. Repellendus, reiciendis quam?</p>
        </div>

    </div>
</section>