<section class="packages">
    <div class="container" data-aos="fade-up">
        <div class="text-center">
            <h2 class="section-name uppercase section-name--mw330  section-name--arrow-l">our packages</h2>
        </div>
        <div class="packages__table">
            <div class="coll">
                <h3 class="coll__name--mobile coll__btn--grey uppercase">Basic</h3>
                <div>
                    <h4 class="coll__name packages--grey">Basic</h4>
                    <ul>
                        <li class="coll__li"><span class="coll__span"> 5 web sites</span></li>
                        <li class="coll__li"><span class="coll__span">15 e-mails</span></li>
                        <li class="coll__li"><span class="coll__span">5 MySql databases</span></li>
                        <li class="coll__li"><span class="coll__span">10 Gb storage</span></li>
                        <li class="coll__price packages--grey"><b class="coll__price--dol">$5</b>/mo.</li>
                    </ul>
                    <button class="coll__btn coll__btn--grey uppercase" type="button">order now</button>
                </div>
            </div>
            <div class="coll">
                <h3 class="coll__name--mobile coll__btn--red uppercase">Standart</h3>
                <div>
                    <h4 class="coll__name packages--red">Standart</h4>
                    <ul>
                        <li class="coll__li"><span class="coll__span"> 15 web sites</span></li>
                        <li class="coll__li"><span class="coll__span">40 e-mails</span></li>
                        <li class="coll__li"><span class="coll__span">20 MySql databases</span></li>
                        <li class="coll__li"><span class="coll__span">50 Gb storage</span></li>
                        <li class="coll__price packages--red">
                            <b class="coll__price--dol">$12</b>/mo.</li>
                    </ul>
                    <button class="coll__btn coll__btn--red uppercase" type="button">order now</button>
                </div>
            </div>
            <div class="coll">
                <h3 class="coll__name--mobile coll__btn--yellow uppercase">Premium</h3>
                <div>
                    <h4 class="coll__name packages--yellow">Premium</h4>
                    <ul>
                        <li class="coll__li"><span class="coll__span">30 web sites</span></li>
                        <li class="coll__li"><span class="coll__span">50 e-mails</span></li>
                        <li class="coll__li"><span class="coll__span">40 MySql databases</span></li>
                        <li class="coll__li"><span class="coll__span">100 Gb storage</span></li>
                        <li class="coll__price packages--yellow">
                            <b class="coll__price--dol">$19</b>/mo.</li>
                    </ul>
                    <button class="coll__btn coll__btn--yellow uppercase" type="button">order now</button>
                </div>
            </div>
        </div>
        <script>
            if (window.matchMedia('(max-width: 480px)').matches) {
                $('.coll__name--mobile').next().hide();
                $('.coll__name--mobile').click(function() {
                    $(this).next().slideToggle();
                    $('.coll__name--mobile').not(this).next().stop(true, true).slideUp();
                });
            }
        </script>
    </div>
</section>