<section class="packages">
    <div class="container">
        <h2 class="section-name section-name--mw330  section-name--arrow-l">OUR PACKAGES</h2>
        <svg class="airplane"></svg>
        <table class="packages__table">
            <col1 />
            <col />
            <col />
            <tr>
                <td class="col1">
                    <ul>

                        <li>>Web Design</li>
                        <li>>Branding & Idefinity</li>
                        <li>sign</li>
                        <li>dghgnhd</li>
                        <li><a class="menu__link" href="#">User Interfase</a></li>
                    </ul>
                </td>
                <td class="col2">
                    <ul class="footer-inner__list">
                        <h3 class="menu__h3">PORTFOLIO</h3>
                        <li><a class="menu__link" href="#">Web Design</a></li>
                        <li><a class="menu__link" href="#">Branding & Idefinity</a></li>
                        <li><a class="menu__link" href="#">Mobile Design</a></li>
                        <li><a class="menu__link" href="#">Print</a></li>
                        <li><a class="menu__link" href="#">User Interfase</a></li>
                    </ul>
                </td>
                <td class="col3">
                    <ul class="footer-inner__list">
                        <h3 class="menu__h3">PORTFOLIO</h3>
                        <li><a class="menu__link" href="#">Web Design</a></li>
                        <li><a class="menu__link" href="#">Branding & Idefinity</a></li>
                        <li><a class="menu__link" href="#">Mobile Design</a></li>
                        <li><a class="menu__link" href="#">Print</a></li>
                        <li><a class="menu__link" href="#">User Interfase</a></li>
                    </ul>
                </td>
            </tr>

        </table>
        <button>name</button>
    </div>
</section>