<section class="projects">
    <div class="container">
        <h2 class="projects__name section-name section-name--mw446 section-name--arrow-r">OUR BUSINESS RELAITED PROJECTS</h2>
        <svg class="airplane"></svg>
        <div class="projects__block">
            <figure>
                <img class="projects__img" src="img/svg/technical_aid.svg" alt="TECHNICAL AID">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">TECHNICAL AID</a>
                </figcaption>
            </figure>
            <figure>
                <img class="projects__img" src="img/svg/secure_access.svg" alt="SECURE ACCES">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">SECURE ACCES</a>
                </figcaption>
            </figure>
            <figure>
                <img class="projects__img" src="img/svg/market_research.svg" alt="MARKET RESEARCH">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">MARKET RESEARCH</a>
                </figcaption>
            </figure>
            <figure>
                <img class="projects__img" src="img/svg/credit.svg" alt="CREDIT">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">CREDIT</a>
                </figcaption>
            </figure>
            <figure>
                <img class="projects__img" src="img/svg/targetting.svg" alt="TARGETING">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">TARGETING</a>
                </figcaption>
            </figure>
            <figure>
                <img class="projects__img" src="img/svg/insurance.svg" alt="INSURANCE">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">INSURANCE</a>
                </figcaption>
            </figure>
            <figure>
                <img class="projects__img" src="img/svg/ecommerce.svg" alt="ECOMERSE">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">ECOMERSE</a>
                </figcaption>
            </figure>
            <figure>
                <img class="projects__img" src="img/svg/office.svg" alt="OFFICE">
                <figcaption class="projects__caption">
                    <a href="#" class="projects__link">OFFICE</a>
                </figcaption>
            </figure>
        </div>
    </div>
</section>