<section class="services">
    <a href="javascript:" id="return-to-top">
        <i class="fas fa-chevron-up"></i>
    </a>
    <div class="container services__container" data-aos="fade-right">

        <h2 class="section-name section-name--mw330 section-name--arrow-r">what we do</h2>
        <div class="services__block">
            <img class="services__image services__size" src="img/png/macbook_1.png">
            <article class="services__content">
                <h3 class="services__header">web design</h3>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam
                    enim totam recusandae. Ratione
                    aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum
                    molestiae
                    hic!
                </p>
                <a href="#" class="yellow-btn services__btn">view more </a>
            </article>
        </div>
        <div class="services__block services__block--reverse">
            <article class="services__content">
                <h3 class="services__header">search engine optimization</h3>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam
                    enim totam recusandae. Ratione
                    aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum
                    molestiae
                    hic!
                </p>
                <button href="#" class="yellow-btn services__btn" id="open-button">view more </button>
            </article>
            <img class="services__image services__size" src="img/png/macbook_1.png">

        </div>
        <div class="services__block">
            <img class="services__image services__size" src="img/png/macbook_1.png">
            <article class="services__content">
                <h3 class="services__header">affiliate marketting</h3>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam
                    enim totam recusandae. Ratione
                    aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum
                    molestiae
                    hic!
                </p>
                <a href="#" class="yellow-btn services__btn">view more </a>
            </article>
        </div>

    </div>
</section>

<section id="modal-1" class="modal-container">

    <div class="modal-dialog">
        <svg class="modal-svg" viewBox="0 0 100 100" preserveAspectRatio="none">
            <polygon class="modal-polygon" />
        </svg>

        <div class="modal-content">
            <h2>I'm a modal</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis excepturi ut inventore consectetur quos rerum quibusdam accusamus, labore itaque assumenda consequatur cum saepe velit quidem ipsa facilis. Repellendus, reiciendis quam?</p>
        </div>

    </div>
</section>
