<section class="services">
    <div class="container" data-aos="fade-up">

        <h2 class="section-name section-name--mw330 section-name--arrow-r">what we do</h2>
        <div class="services__container">
            <div class="services__block">
                <img class="services__image services__size" src="img/png/macbook_1.png" alt="macbook">
                <article class="services__content">
                    <h3 class="services__header">web design</h3>
                    <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Suscipit tellus mauris a diam maecenas sed
                        enim ut sem. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra.
                        Sed egestas egestas fringilla phasellus faucibus scelerisque.<br> Placerat in egestas erat
                        imperdiet sed euismod nisi porta lorem. Est placerat in egestas erat imperdiet sed euismod
                        nisi.
                    </p>
                    <button type="button" class="yellow-btn services__btn open-button">view more </button>
                </article>
            </div>
            <div class="services__block services__block--reverse">
                <article class="services__content">
                    <h3 class="services__header">search engine optimization</h3>
                    <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Suscipit tellus mauris a diam maecenas sed
                        enim ut sem. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra.
                        Sed egestas egestas fringilla phasellus faucibus scelerisque.<br> Placerat in egestas erat
                        imperdiet sed euismod nisi porta lorem. Est placerat in egestas erat imperdiet sed euismod
                        nisi.
                    </p>
                    <button type="button" class="yellow-btn services__btn open-button">view more </button>
                </article>
                <img class="services__image services__size" src="img/png/macbook_1.png" alt="macbook">

            </div>
            <div class="services__block">
                <img class="services__image services__size" src="img/png/macbook_1.png" alt="macbook">
                <article class="services__content">
                    <h3 class="services__header">affiliate marketting</h3>
                    <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Suscipit tellus mauris a diam maecenas sed
                        enim ut sem. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra.
                        Sed egestas egestas fringilla phasellus faucibus scelerisque.<br> Placerat in egestas erat
                        imperdiet sed euismod nisi porta lorem. Est placerat in egestas erat imperdiet sed euismod
                        nisi.
                    </p>
                    <button type="button" class="yellow-btn services__btn open-button">view more </button>
                </article>
            </div>
        </div>
    </div>
    <a href="javascript:" id="return-to-top" class="button--round">
        <i class="icon fas fa-chevron-up"></i>
    </a>
</section>