<section class="services">
    <a href="javascript:" id="return-to-top">
        <!-- <i class="icon-chevron-up"></i> -->
        <i class="fas fa-chevron-up"></i>
    </a>
    <div class="container services__container" data-aos="fade-up">

        <h2 class="section-name section-name--mw330 section-name--arrow-r">what we do</h2>
        <div class="services__block">
            <img class="services__image services__size" src="img/png/macbook_1.png">
            <article class="services__content">
                <h3 class="services__header">web design</h3>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam
                    enim totam recusandae. Ratione
                    aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum
                    molestiae
                    hic!
                </p>
                <a href="#" class="yellow-btn services__btn">view more </a>
            </article>
        </div>
        <div class="services__block services__block--reverse">
            <article class="services__content">
                <h3 class="services__header">search engine optimization</h3>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam
                    enim totam recusandae. Ratione
                    aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum
                    molestiae
                    hic!
                </p>
                <a href="#" class="yellow-btn services__btn">view more </a>
            </article>
            <img class="services__image services__size" src="img/png/macbook_1.png">

        </div>
        <div class="services__block">
            <img class="services__image services__size" src="img/png/macbook_1.png">
            <article class="services__content">
                <h3 class="services__header">affiliate marketting</h3>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis quibusdam
                    enim totam recusandae. Ratione
                    aliquid excepturi qui eveniet alias nemo vel, quod quis commodi voluptates, aliquam nostrum rerum
                    molestiae
                    hic!
                </p>
                <a href="#" class="yellow-btn services__btn">view more </a>
            </article>
        </div>

    </div>
</section>