<section class="welcome welcome--bgColor">
    <div class="container">
        <figure class="hero">
            <figcaption class="hero__message">
                <h1 class="hero__title">unique-tech<br> app development</h1>
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit. laborum. Sed ut perspiciatis unde omnis iste. natus error sit voluptatem
                    accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
                    quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                    aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione. voluptatem sequi. nesciunt.
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia
                    non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <a class="button__icon--right" href="#">View More</a>
            </figcaption>
            <div class="hero__sliderBox">
                <div class="sliderBox sliderBox--big">
                    <div id="mac_slide_01" class="slide slide--big">
                        <img src="./img/png/macbook_screenOnly.png" alt="">
                    </div>
                    <div id="mac_slide_02" class="slide slide--big">
                        <img src="./img/png/macbook_screenOnly.png" alt="">
                    </div>
                    <div id="mac_slide_03" class="slide slide--big">
                        <img src="./img/png/macbook_screenOnly.png" alt="">
                    </div>
                </div>
                <div class="sliderBox sliderBox--small">
                    <div id="phone_slide_01" class="slide slide--small">
                        <img src="./img/png/iPhone_screenOnly.png" alt="">
                    </div>
                    <div id="phone_slide_02" class="slide slide--small">
                        <img src="./img/png/iPhone_screenOnly.png" alt="">
                    </div>
                    <div id="phone_slide_03" class="slide slide--small">
                        <img src="./img/png/iPhone_screenOnly.png" alt="">
                    </div>
                </div>
            </div>
        </figure>
    </div>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $('.sliderBox--big').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            arrows: false,
            fade: true,
            asNavFor: '.sliderBox--small'
        });
        $('.sliderBox--small').slick({
            slidesToShow: 1,
            slidesToScroll: 1,
            asNavFor: '.sliderBox--big',
            dots: true,
            centerMode: true,
            focusOnSelect: true
        });



    </script>
</section>