<section class="welcome welcome--bgColor">
    <div class="container welcome__container container--no-padding">
        <figure class="hero">
            <figcaption class="hero__message">
                <h1 class="hero__title uppercase">
                    <span class="hero__title--nowrap">
                        unique-tech
                    </span>
                    <span class="hero__title--nowrap">
                        app development
                    </span>
                </h1>
                <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa
                    qui officia deserunt mollit.</p>
                <a class="button__icon--right" href="#">View More</a>
            </figcaption>
            <div class="hero__image">
                <img class="hero__image--static" src="./img/png/macbook_1.png" alt="laptop">
                <img class="slider--big__background b-lazy"
                src="./img/png/MacBook_black_screen_small.gif"
                data-src="./img/png/MacBook_black_screen.png" alt="laptop">

                <div class="slider--big">
                    <div class="slider--big__slide">
                        <img class="b-lazy" data-src="./img/png/macbook_slide_01.png" src="./img/png/macbook_slide_01_small.gif" alt="web page in yellow color on laptop screen">
                    </div>
                    <div class="slider--big__slide">
                        <img class="b-lazy" data-src="./img/png/macbook_slide_02.png" src="./img/png/macbook_slide_02_small.gif" alt="mate academy web page on laptop screen">
                    </div>
                    <div class="slider--big__slide">
                        <img class="b-lazy" data-src="./img/png/macbook_slide_03.png" src="./img/png/macbook_slide_03_small.gif" alt="bootstrap web page on laptop screen">
                    </div>
                </div>

                <img class="slider--small__background" src="./img/png/iPhone_black_screen.png" alt="smartphone">

                <div class="slider--small">
                    <div class="slider--small__slide">
                        <img src="./img/png/iphone_slide_01.png" alt="web page in yellow color on smartphone screen">
                    </div>
                    <div class="slider--big__slide">
                        <img src="./img/png/iphone_slide_02.png" alt="mate academy web page on smartphone screen">
                    </div>
                    <div class="slider--big__slide">
                        <img src="./img/png/iphone_slide_03.png" alt="bootstrap web page on smartphone screen">
                    </div>
                </div>
                <div class="slider__dots"></div>
            </div>
        </figure>
    </div>
</section>