{% extends "layout.njk" %}

{% block content %}

    {% include "partials/_header.njk" %}
    {% include "partials/_welcome.njk" %}
    {% include "partials/_services.njk" %}
    {% include "partials/_process.njk" %}
    {% include "partials/_features.njk" %}
    {% include "partials/_packages.njk" %}
    {% include "partials/_history.njk" %}
    {% include "partials/_projects.njk" %}
    {% include "partials/_team.njk" %}
    {% include "partials/_support.njk" %}
    {% include "partials/_hire_us.njk" %}
    {% include "partials/_footer.njk" %}


{% endblock %}