.st3 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear normal infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
}