*buttons*/ %btn {
    appearance: none;
    border: 0;
    white-space: nowrap;
    user-select: none;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
}


/* Заголовки grey <div class="name-btn"> <h2>UPDATES & SUPPORT</h2> </div>*/

h2 {
    font-size: $h2-font-size;
    font-weight: $h2-font-weight;
    font-family: $h2-font-family;
}

.support {
    position: relative;
    &__name-btn {
        background-color: #464646;
        @extend %btn;
        color: $color-white;
        height: 55px;
        /* variant2  padding:19px 100px; change padding-left-right*/
        width: 446px;
        border-radius: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        /* for litlle grey заголовков */
        &_little {
            width: 330px;
        }
        /* for history */
        &_history {
            width: 220px;
        }
    }
    /* yellow buttons*/
    &__yellow-btn {
        background-color: $color-mainYellow;
        @extend %btn;
        color: #3a3a3a;
        padding: 19px 41px;
        /* бывает 20px можно пребить модификатором*/
        font-size: 12px;
        /* меняется везде */
        font-weight: $font-weight-700;
        font-family: $buttons-font-family;
    }
}