/*BUTTONS*/

/* для заголовков к основному классу прибавлять класс
section-name + section-name--mw220 или section-name--mw330 */

/* для жёлтыхк кнопок основному классу  прибавлять класс yellow-btn*/

.section-name {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    font-size: $h2-font-size;
    line-height: $h2-font-size;
    font-weight: $h2-font-weight;
    font-family: $h2-font-family;
    background-color: #464646;
    text-align: center;
    text-transform: uppercase;
    margin-left: 50%;
    transform: translateX(-50%);
    color: $color-white;
    white-space: nowrap;
    border-radius: 2px;
    padding: 13px 14px;
    box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
    &--mw330 {
        min-width: 330px;
        padding: 13px 23px;
    }
    &--mw446 {
        min-width: 446px;
    }
    &--mw220 {
        min-width: 220px;
    }
    &--arrow-l:after,
    &--arrow-l:before,
    &--arrow-r:after,
    &--arrow-r:before {
        content: "";
        position: absolute;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center;
    }
    &--arrow-l:after,
    &--arrow-r:after,
        {
            height: 93px;
            width: 56px;
            background-image: url("../img/svg/icons/path_1.svg");
    }
    &--arrow-l:before,
    &--arrow-r:before {
        height: 28px;
        width: 32px;
        background-image: url("../img/svg/icons/send.svg");
    }
    &--arrow-r {
        &:after {
            right: -76px;
            top: 29px;
        }
        &:before {
            right: -33px;
            top: 120px;
            transform: rotate(-160deg);
        }
    }
    &--arrow-l {
        &:after {
            left: -76px;
            top: 29px;
            transform: scaleX(-1);
        }
        &:before {
            left: -33px;
            top: 120px;
            transform: rotate(160deg) scaleX(-1);
        }
    }
}

/* yellow buttons*/

.yellow-btn {
  background-color: $color-mainYellow;
  appearance: none;
  border: 0;
  white-space: nowrap;
  user-select: none;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  color: #3a3a3a;
  padding: 20px 40px;
  font-size: 12px;
  font-weight: $font-weight-700;
  font-family: $buttons-font-family;
  margin-top: 15px;

  &:hover {
    animation: shake 1.5s cubic-bezier(.36, .07, .19, .97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    cursor: pointer;

    @keyframes shake {
      10%, 90% {
        transform: translate3d(-1px, 0, 0);
      }

      20%, 80% {
        transform: translate3d(2px, 0, 0);
      }

      30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
      }

      40%, 60% {
        transform: translate3d(4px, 0, 0);
      }
    }
  }
}

.button__icon--right {
  text-decoration: none;
  display: table-cell;
  position: relative;
  padding: 18px 24px;
  padding-right: 66px;
  color: $h1-font-color;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  border-radius: 2px;
  background-color: #464646;
  box-shadow: 1px 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
  &:after {
    box-sizing: border-box;
    position: absolute;
    padding: 16px 30px;
    right: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 27px;
    background-image: url("../img/png/send.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}