@import 'variables';
.container {
    max-width: 1004px;
    margin: 0 auto;
    // padding-top: 130px;
    &--no-padding {
        padding: 0;
    }
    &--footer {
        padding-top: 47px;
    }
}

.screen-width {
    width: 100vw;
}

.brand-yellow {
    background-color: $color-mainYellow;
}

@media (max-width:1044px) {
    .container {
        padding: 0 20px;
    }
}