@import "variables";

.features {
  display: flex;
  flex-wrap: wrap;
  //h3{
  //  display: block;
  //  text-align: center;
  //}
  .features__heading {
    width: 100%;
    flex-grow: 1;
    text-align: center;
    //display: block;
  }
  .features__section {
    padding: 3em;
    flex-grow: 1;
    width: 33%;
    height: 100px;
  }
}
