.footer {
    width: 100vw;
    background-color: $p-font-color;
}

.container {
    max-width: 1004px;
    margin: 0 auto;
}

.footer-inner {
    &__list {
        list-style: none;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        .menu__h3 {
            font-size: $h3-font-size;
            font-weight: 500;
            color: #e6e9ed;
            padding: 43px 0 28px 0;
        }
        .link {
            text-decoration: none;
            color: #aab2bd;
            line-height: 2;
        }
    }
}

.footer-inner__social {
    text-align: center;
}

.social {
    margin: 40px auto 20px auto;
    &__block {
        width: 40px;
        height: 40px;
        background-color: $color-mainYellow;
        margin-right: 1px;
        display: inline-block;
        color: $color-white;
        border-radius: 2px;
        position: relative;
    }
    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}