@import 'variables';
.header {
    z-index: 999;
    width: 100vw;
    height: 150px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    padding-top: 77px;
    &__container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    &--minimized {
        height: 66px !important;
        padding-top: 5px !important;
    }
    &--bgColor {
        background-color: $color-mainYellow;
        position: fixed;
        top: 0;
    }
    &__container {}
}

.nav {
    display: block;
    &__block {
        margin-top: 9px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        list-style: none;
    }
    &__element {
        padding: 0 16px;
        font-size: 14px;
        font-weight: 700;
        color: $color-mainGrey;
        display: inline-block;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &__link {
        color: $color-mainGrey;
        text-transform: uppercase;
        &--centered {
            font-size: 12px;
            font-weight: 900;
            line-height: 26px;
        }
    }
}

.logo {
    color: $color-mainGrey;
    margin: 0;
    font-size: 26px;
    font-weight: 900;
    display: block;
    &__element {
        display: inline-block;
        &--bordered {
            padding: 9px 13px;
            border: 3px solid $color-logoBorder;
        }
        &--light {
            color: $h1-font-color;
        }
    }
}