@import "variables";
@import "buttons";

.history {
  //display: flex;
  //justify-content: space-around;
  width: 100%;
  background: #f9f8f8;
  .container {
    display: flex;
    justify-content: space-around;
    .history__left {
      width: 30%;
      img{
        height: 100px;
      }
    }

    .history__right {
      width: 30%;

      .history__text {
        font-size: $p-font-size;
        color: $p-font-color;
        font-weight: $p-font-weight;
      }
    }
  }
}