.packages {
    &__table {
        width: 80%;
        border-collapse: collapse;
        border: 4px solid white;
        margin: 0 auto;
        text-align: center;
        font-family: $body-font-family;
        font-size: $p-font-size;
        font-weight: $h4-font-weight;
        color: $color-liteGrey;
    }
    &__coll {
        border: 2px solid $color-darkYellow;
        &:hover,
        &:nth-child(2) {
            font-size: 18px;
            color: $p-font-color;
            .coll {
                &__name {
                    font-size: $h2-font-size;
                }
                &__price {
                    font-size: $h1-font-size;
                }
                &__btn {
                    transform: scale(1.2);
                }
            }
        }
    }
    &--grey {
        color: $color-liteGrey;
    }
    &--red {
        color: $color-red;
    }
    &--yellow {
        color: $color-mainYellow;
    }
    &__order {
        display: flex;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        margin-top: 50px;
    }
}

.coll {
    &__li {
        display: block;
        border-bottom: 2px solid $color-darkYellow;
        padding: 15px 0;
    }
    &__price {
        list-style: none;
        font-size: 35px;
        padding-top: 50px;
    }
    &__name {
        font-size: 22px;
        padding-bottom: 50px;
    }
    &__btn {
        border-radius: 3px;
        box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
        width: 192px;
        height: 45px;
        appearance: none;
        color: $color-white;
        border: 0;
        white-space: nowrap;
        user-select: none;
        text-decoration: none;
        margin-top: 50px;
        &--grey {
            background-color: $color-liteGrey;
        }
        &--red {
            background-color: $color-red;
        }
        &--yellow {
            background-color: $color-mainYellow;
        }
        /*&:hover {
            transform: scale(1.2);
        }*/
    }
}