        .packages {
            &__table {
                padding: 20px;
                width: 90%;
                border-collapse: collapse;
                border: 4px solid white;
                margin: 0 auto;
                td,
                th {
                    border: 2px solid $color-darkYellow;
                }
                td:FIRST-CHILD {
                    font-weight: bold;
                }
                /* make the last cell of every row italic */
                td:LAST-CHILD {
                    font-style: italic;
                }
                .col:hover .col1 {
                    font-size: 18px;
                    color: grey;
                }
                td:hover {
                    font-size: 18px;
                    color: grey;
                }
            }
        }
        
        li {
            display: block;
            border-bottom: 2px solid $color-darkYellow;
        }