.projects {
    &__wrapper {
        background-color: $h1-font-color;
        padding: 10% 15%;
        /*90px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__link {
        font-family: $body-font-family;
        font-size: $p-font-size;
        font-weight: $font-weight-700;
        color: $grey-text;
    }
}