.projects {
    text-align: center;
    &__block {
        background-color: $lite-color;
        padding: 90px 90px 50px 90px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__link {
        font-family: $body-font-family;
        font-size: $p-font-size;
        font-weight: $font-weight-700;
        color: $grey-text;
        text-decoration: none;
        margin: 40px auto;
    }
    &__caption {
        margin: 40px auto;
    }
    &__img {
        height: 135px;
    }
}


/*animation*/

.img--1:hover .st6 {
    transform: rotate(720deg);
    transform-origin: 80% 80%;
    transition: all ease 2s;
}

.img--2:hover .st6 {
    transform: translateY(50px);
    transition: all ease 2s;
}

.img--2:hover .st7 {
    transform: translateY(50px);
    transition: all ease 2s;
}

.img--3:hover {
    transform: scale(1.1);
    transform-origin: top;
    transition: all ease 2s;
}

.img--4:hover .money {
    transform: translateY(50px);
    opacity: 0.1;
    transition: all ease 2s;
}