@import 'variables';

.process {
    background: url('../img/png/pattern.png');
    &__content {
padding-bottom: 110px;
    }
}
@media (max-width: 650px) {
    .process {
        &__content {
            margin: 0 -45px;
        }
    }
}