.support {
    &__img {
        float: right;
        padding-top: 5px;
        max-width: 100%;
    }
    &__text {
        font-family: $body-font-family;
        color: $p-font-color;
        font-size: $p-font-size;
        line-height: 28px;
        text-align: left;
        padding: 10px 5px 5px 5px;
    }
}