$body-font-family: Roboto;

$h1-font-size: 42px;
$h1-font-weight: 700;
$h1-font-color: #fdfcfc;

$p-font:

$h2-font: 26px;
$h2-font-family: 'Source Sans Pro';
$h2-font-weight: $h1-font-weight;
$h2-font-color: #ffffff;