@import 'variables';
.welcome {
    width: 100vw;
    padding-top: 150px;
    min-height: 100vh;
    &__container {
        padding: 0;
    }
    &--bgColor {
        background-color: $color-mainYellow;
    }
}

.hero {
    position: relative;
    display: flex;
    flex-wrap: wrap-reverse; // height: calc(100vh - 300px);
    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;
        background-repeat: no-repeat;
    }
    &:before {
        background-image: url("../img/svg/icons/send.svg");
        background-size: 36px 36px;
        width: 35px;
        height: 34px;
        top: 48px;
        left: 647px;
        transform: scaleX(-1) rotate(-155deg);
    }
    &:after {
        background-image: url("../img/svg/icons/path_2.svg");
        width: 365px;
        height: 50px;
        top: 28px;
        left: 291px;
    }
    &__message {
        width: 42%;
        min-width: 392px;
    }
    &__title {
        color: $h1-font-color;
        text-transform: uppercase;
        font-size: 42px;
        font-weight: 700;
        line-height: 1.2;
        margin: 33px 0 30px;
        &--nowrap {
            white-space: nowrap;
        }
    }
    &__text {
        color: $h1-font-color;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        min-height: 240px;
        max-height: calc(100vh - 490px);
        overflow: auto;
        margin-bottom: 54px;
        padding-right: 10px;
    }
    &__image {
        position: relative;
        width: 58%;
        margin-top: 92px;
        &--static {
            display: none;
        }
    }
}

.slider {
    &--big {
        position: absolute;
        width: 431px;
        height: 274px;
        top: 27px;
        right: 101px;
        &__background {
            position: absolute;
            display: block;
            right: 19px;
            width: 601px; // height: 365px;
        }
        &__slide {
            position: absolute;
            display: block;
        }
    }
    &--small {
        position: absolute;
        width: 125px;
        top: 86px;
        right: 9px;
        &__background {
            position: absolute;
            display: block;
            top: 41px;
            right: 0;
            width: 177px;
            height: 307px;
        }
        &__slide {
            position: absolute;
            display: block;
        }
    }
    &__dots {
        position: absolute;
        top: 370px;
        right: 267px;
    }
}

.slider__dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    ul {
        display: inherit;
        li {
            margin: 0 3px;
            button {
                display: block;
                width: 10px;
                height: 10px;
                padding: 0;
                border: none;
                border-radius: 100%;
                text-indent: -9999px;
                background-color: $color-mainGrey;
                &:focus {
                    outline: none;
                }
            }
        }
    }
    li.slick-active button {
        background-color: white;
    }
}

@media (max-width: 1000px) {
    .hero {
        flex-direction: column-reverse;
        justify-content: center;
        padding-bottom: 50px;
        &__image {
            margin: 15px auto;
            height: 380px;
            width: 600px;
        }
        &__message {
            width: unset;
            min-width: unset;
        }
        &__title {
            margin-bottom: 6px;
        }
        &__text {
            line-height: 24px;
            min-height: unset;
            margin-bottom: 30px;
        }
        &:before,
        &:after {
            content: none;
        }
    }
    .slider {
        &__dots {
            padding: 0;
        }
        &--big {
            &__background {}
        }
    }
}

@media (max-width: 900px) {
    .welcome {
        padding-top: 100px;
    }
}

@media (max-width: 650px),
(max-height: 650px) {
    .hero {
        &__image {
            width: 100%;
            height: unset;
            text-align: center;
            & * {
                display: none;
            }
            &--static {
                display: inline;
                width: 100%;
            }
        }
        &__title {
            font-size: 30px;
        }
        &__message {
            min-width: unset;
            width: unset;
        }
    }
}

@media (min-height: 950px) {
    .welcome {
        display: flex;
        align-items: center;
    }
    .hero__title {
        width: 400px;
    }
}

@media (max-height: 750px) and (max-width: 900px) {
    .welcome {
        padding-top: 80px;
    }
    .hero__title {
        margin-top: 0;
    }
}