@import 'variables';
.welcome {
    width: 100vw;
    padding-top: 150px;
    height: 100vh;
    &--bgColor {
        background-color: $color-mainYellow;
    }
}

.hero {
    position: relative;
    display: flex;
    height: calc(100vh - 300px);
    &:after,
    &:before {
        content: "";
        display: block;
        position: absolute;
        background-repeat: no-repeat;
    }
    &:before {
        background-image: url("../img/svg/icons/send.svg");
        width: 30px;
        height: 29px;
        top: 42px;
        left: 668px;
        transform: scaleX(-1) rotate(-161deg);
    }
    &:after {
        background-image: url("../img/svg/icons/path_2.svg");
        width: 365px;
        height: 50px;
        top: 19px;
        left: 308px;
    }
    &__message {
        width: 42%;
    }
    &__title {
        color: $h1-font-color;
        text-transform: uppercase;
        font-size: 42px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
    }
    &__text {
        color: $h1-font-color;
        font-size: 16px;
        font-weight: 300;
        line-height: 30px;
        height: calc(100% - 148px);
        overflow: auto;
        margin-bottom: 30px;
        padding-right: 10px;
    }
    &__sliderBox {
        border: 3px solid green;
        width: 58%;
        margin-top: 86px;
    }
}