@import 'variables';
.welcome {
    width: 100vw;
    margin-top: 120px;
    height: calc(100vh - 120px);
    &--bgColor {
        background-color: $color-mainYellow;
    }
<<<<<<< HEAD
    &__container {}
=======
>>>>>>> 92331daadb51531f50b959cb0c6b81c08002a1a2
}